* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    -ms-overflow-style:none ;
    scrollbar-width: none;
    overflow-x: hidden;
    background-color: #000000;
    font-family: cursive;

    
   
}




::-webkit-scrollbar {
    display: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
}

.navbar::before {
    content: '';
    position: absolute;
    background-color: whitesmoke;
    top: 5rem;
    height: 2px;
    width: 2000px;
}



.logo {
    color: white;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    font-size: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.nav-links a:hover {
    background-color: #575757;
}

/* Mobile Styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

.home {
    color: white;
    position: relative;
    top: 15rem;
    left: 20rem;
    font-size: 2rem;
    z-index: -1;
    
}

.home h1 {
    margin-bottom: 5rem;
}

.home p:nth-child(2){
    top: 20rem;
}


.image {
    position: relative;
    left: 0;
    bottom: 25rem;
    width: 50rem;
    border-radius: 10px;
    z-index: -1;

}

.about {
    color: whitesmoke;
    position: relative;
    top: 15rem;
    display: flex;
    align-items: center;
    width: 40%;
    position: relative;
    left: 60rem;
}

h1 {
    text-decoration: underline;
}

.second_image {
    position: relative;
    right: 55rem;
    width: 20rem;
    bottom: 20rem;
    z-index: -1;
}

.contact-container {
    color: white;
    position: relative;
    left: 10rem;
    font-size: 20px;
    
}

.contact-container .bxs-phone-call {
    color: green;
    margin-right: 0.5rem;
    
}

.bxl-gmail {
    color: rgba(0, 0, 255, 0.757);
    margin-right: 0.5rem;
}

.details p a {
    color: rgba(0, 0, 255, 0.557);
    text-decoration: none;

}

.social-media {
    position: relative;
    left: 80rem;
    bottom: 7rem;
    
}

.social-media a i{
    font-size: 30px;
    right:2rem ;
    margin: 1rem;
    
}

.social-media .bxl-facebook-circle{
    color: blue;
    position: relative;
    bottom: 4rem;

}

.social-media .bxl-twitter {
    color: aqua;
    position: relative;
    bottom: 4rem;
}

.bxl-linkedin-square {
    color: blue;
    position: relative;
    bottom: 4rem;
}

.social-media .bxl-whatsapp {
    color: green;
    position: relative;
    left: 16rem;
    top: 8rem;
    font-size: 100px;
    
}

.footer {
    position: relative;
    left: 55rem;
    color: white;
    bottom: 0.5rem;
    
}

/* Responsive Styles */
@media (max-width: 768px) {
    html body {
        overflow-x: hidden;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .navbar::before {
        content: '';
        position: absolute;
        background-color: whitesmoke;
        top: 3rem;
        height: 2px;
        width: 530px;
        right: 1rem;
    
    }

    .nav-links.active {
        display: flex;
    }
    
    .menu-toggle {
        display: flex;
    }

    .navbar {
        max-width:39%;
    }

    .home-container  {
        position: relative;
        right:15rem;
    }

    .home-container h2 {
        position: relative;
        left: -0.75rem;
        font-size: 2rem;
    }

    .home-container p:nth-child(2) {
        position: relative;
        top: 2rem;
    }

    .home-container .image {
        margin-left: -48rem;
    }

    .image {
        max-width:150%;
    }

    .second_image {
        max-width: 250%;
        margin-top: 30rem;
        margin-left: -2rem;
    }

    

    .about-container h1 {
        position: relative;
        left: -56rem;
        bottom: 15rem;
    }


    .about-container p {
        margin-left: -58rem;
        max-width: 280%;
        margin-top: -12rem;

    }

    .contact-container h1 {
        position: relative;
        left: -5rem;
    }



    .contact-container  .mail{
        position: relative;
        right: 5rem; 
    }

    .social-media {
        position: relative;
        left: 0.25rem;
        top: 5rem;
    }

    .social-media a i {
        position: relative;
        right: 5rem;
    }

    .social-media .bxl-whatsapp {
        margin-left: -8rem;
        position: relative;
        left: 12rem;
        
        
    }

    .footer {
        position: relative;
        left: 6rem;
        top: 12rem;
    }

    



   
}
